* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: black;
	
}

body {
	min-height: 100vh;
	position: relative;
	font-family: 'Permanent Marker', cursive;
}

/*parallax*/
.parallax {
	background-image: url("./../images/parallax.jpg");

	/* Set a specific height */
	 height: 610px; 

	/* parallax scrolling effect */
	 background-attachment: fixed;
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;
	 opacity: 0.9;
}


.text-center {
	padding-top: 100px;
}

#indexheader {
	color: red;
}
/*end of parallax*/	

/*cards in index*/
.bgnav { 
    background-image: linear-gradient(to right, rgba(255,0,0,0), #8D8741);
} 

#indexcontainer {
	display: flex;
	padding: 25px;
}

.samplebody {
	padding-left: 25px;
	margin-top: 50px;
}

#sampleCourses {
	display: flex;
	padding: 5px;
}

.card {
	background-color: transparent;
	border: none;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: scale-down;

}

.card-title {
	text-align: center;
}


.indexcards {
	height: 400px;

}


/*end of cards in index*/



#content {
	padding-bottom: 50px;
	background-image: linear-gradient(to bottom right, #659DBD, #FBEEC1);
}


.btn {
	background: #659DBD;
	color: black;
}

/*card in courses*/
#cardcourses {
	background-color: #8EE4AF;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  	border-radius: 10px;
  	width: 75%;
	height: 250px;
	margin-left: 50px;
	overflow: auto;

}

/*end card in courses*/

/*card in specific course*/
#carddetail {
	background-color: #8EE4AF;
	width: 50%;
	height: auto;
	border-radius: 5px;
	box-shadow: 4px 0 8px 0 rgba(0,0,0,0.4);
	padding: 10px;
	
}

.descCourse {
	border-style: double;
	
}

#enrollContainer {
	padding-top: 10px;
}
/*end card in specific*/

#footer{
	background-color: #DAAD86;
	position: absolute;
	bottom: 0;
	width: 100%;
}

a {
	text-decoration: none;
}


